site_name: "Data Logic Portal"
theme:
  name: material
  features:
    - search.suggest
    - search.highlight
    - navigation.instant

plugins:
  - search  # This uses a stable, built-in search engine
